
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: Odin;
    src: url('../font\ for\ Odin\ logo/Norse-Bold.otf');
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
}

a {
    color:white;
    text-decoration: none;
}

.container {
    width: min(100vw, 1200px);
    height:100vh;
    display: flex;
}

.left-side {
    width:40%;
    background-image: url('../images/jennifer-burk-SA00UxuXIHA-unsplash.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    background-color: rgba(0, 0, 0, .5);
    width:100%;
    height:15vh;

    display: flex;     
    align-items: center;  
    justify-content: center; 
    position: relative;
    top:10rem;

    color:white;
    font-family: Odin;
    font-size: 4.5em;
}

.logo {
    width:80px;
}

.photo-creator {
    color:white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: .8em;
    padding-bottom: 10px;
}

.right-side {
    flex:1;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: system-ui, sans-serif;
}

.intro {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    line-height: 1.3;
    flex-direction: column;
    gap : 20px;
    padding:8rem 2.5rem 0 2rem; 
}

.lets-do-this {
    background-color: white;
    width:100%;
    padding:1rem 2rem; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
}

.lets-do-this  .title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.lets-do-this .my-form {
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    flex-direction: column;  
    margin-right: 2.5em;
    margin-bottom: 1.5em;
}

.input-container label {
    font-size: .7em;
    margin-bottom: 3px;
}

.input-container input {
    border: 1px #E5E7EB solid;
    border-radius: 5px;
    height:1.9em;
    padding: 8px;
    outline: none;
}

input:focus {
    border: 1px #86a9ee solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

input.error:invalid {
    border: 1px red solid;
}

.invalid-password {
    color:red;
    display: none;
}

input.error:valid {
    border: 1px green solid;
}

.create-account {
    padding:0 2rem; 
}

.btn-create {
    background-color: #596D48;
    color:white;
    font-weight: 500;
    border:none;
    cursor: pointer;
    box-shadow: 0 3px 8px  rgba(0, 0, 0, .2);
    padding:12px 32px;
    border-radius: 8px;    
    margin-bottom: 2em;
}

.Log-in-link {
    color:#596D48;
}


